* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.container {
    width: 80%;
    margin: 0% auto;
}

h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

h3 {
    color: #4CAF50;
    margin-top: 20px;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.responsive-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

.program {
    margin-bottom: 40px;
}

.program-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

.facilities-gallery {
    display: flex;
    gap: 10px;
}

.facility-image {
    width: 20%;
    height: auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 40px;
}